Kato/Kato/Release/
Kato/Kato/SampleEngine/Debug/
Kato/Kato/SampleEngine/Release/
Kato/Kato/SampleEngine/x64/
Kato/Kato/x64/
Kato/Kato/Debug/
Kato/Kato/SampleEngine/SampleEngine.vcxproj.user
Kato/Kato/.vs/SampleEngine/v14/.suo
Kato/Kato/SampleEngine.VC.VC.opendb
Kato/Kato/SampleEngine.VC.db
Kato/objs/Kato/
Kato/projects/demo/demo.VC.db
Kato/projects/demo/demo.VC.VC.opendb
Kato/projects/demo/.vs/demo/v14/.suo
Kato/projects/demo/demo/demo.vcxproj.user
Kato/output/demo/
Kato/objs/demo/
Kato/Kato_Solution/x64/
Kato/Kato_Solution/.vs/SampleEngine/v14/.suo
Kato/Kato_Solution/SampleEngine/SampleEngine.vcxproj.user
Kato/Kato_Solution/SampleEngine.VC.db
Kato/External/googletest/lib/Debug_x64/googletest.pdb
Kato/External/googletest/lib/Debug_x86/googletest.pdb
Kato/objs/
Kato/output/
Kato/projects/mathtest/mathtest/x64/
Kato/projects/mathtest/mathtest/Release/
Kato/projects/demo/x64/
Kato/projects/googletest/.vs/
Kato/projects/mathtest/mathtest/mathtest.vcxproj.user
Kato/projects/mathtest/mathtest.VC.db
Kato/projects/mathtest/.vs/mathtest/v14/.suo
Kato/projects/googletest/googletest/googletest.vcxproj.user
Kato/projects/googletest/googletest.VC.db
Kato/External/SampleEngine/lib/Debug_x86/SampleEngine.pdb
Kato/External/SampleEngine/lib/Debug_x64/SampleEngine.pdb
Kato/External/SampleEngine/lib/
Kato/External/googletest/lib/
